@using Library.Data.Repo
@using Library.Models.DTO
@using Library.Models.Entities
@model ForgotPasswordDTO

@{
    ViewData["Title"] = "Забули пароль";
}

<div class="container mt-5">
    @* <h1 class="display-4 text-center mb-4">Оформити замовлення на @((int)product.ProductType == 1 ? "книгу" : "диск")</h1> *@

    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">Переглянути паролі по заданому логіну</h5>
                </div>
            </div>

            <div class="card shadow-sm">
                <div class="card-body">
                    @if(Model == null || Model.Passwords == null || Model.Passwords.Count == 0){
                        <form asp-action="ForgotPassword">
                            <div class="form-group">
                                <label asp-for="Login" class="control-label">Логін</label>
                                <input asp-for="Login" class="form-control" />
                                <span asp-validation-for="Login" class="text-danger"></span>
                            </div>
                            <div class="form-group text-center mt-4">
                                <input type="submit" value="Переглянути" class="btn btn-primary btn-lg px-4" />
                            </div>
                        </form>
                    }
                    else{
                        <h6>Паролі по логіну @Model.Login</h6>
                        @foreach(var password in Model.Passwords){
                            <p class="card-text">@password</p>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>