@using Library.Models.Entities
@{
    ViewData["Title"] = "Інформаційні запити";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Логін</th>
            <th>Емейл</th>
            <th>Роль</th>
            <th>Стать</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.UserId
                </td>
                <td>
                    @user.Login
                </td>
                <td>
                    @user.Email
                </td>
                <td>
                    @switch(user.Role){
                        case Roles.Owner:
                            <span>Власник</span>
                            break;
                        case Roles.Administrator:
                            <span>Адміністратор</span>
                            break;
                        case Roles.Operator:
                            <span>Оператор</span>
                            break;
                        case Roles.Default:
                            <span>Гість</span>
                            break;
                    }
                </td>
                <td>
                    @switch(user.Gender){
                        case Gender.Male:
                            <span>Чоловік</span>
                            break;
                        case Gender.Female:
                            <span>Жінка</span>
                            break;
                    }
                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        Загальна кількість: @Model.Count
    </tfoot>
</table>