@using Library.Models.DTO.InfoResponses
@using Library.Models.Entities
@using Library.Services
@inject ProductService _productService
@model List<MovieGenre>

@{
    ViewData["Title"] = "Інформаційні запити";
}

@if (Model.Count == 0)
{
    <h3>Немає результатів</h3>
}
else{
    <h3>Перелік всіх жанрів</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Назва жанру</th>
                <th>Список фільмів</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>
                        @genre.Name
                    </td>
                    <td>
                        @genre.Movies.Select(m => m.Disc.Product.Title).Aggregate((a, b) => a + ", " + b)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}