@model WebApplication0.Models.Student

<form method="post" asp-controller="Oleg" asp-action="CheckStudent">
    <label asp-for="LastName"></label>
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span>

    <label asp-for="LastName"></label>  
    <input asp-for="LastName"/>
    <span asp-validation-for="LastName"></span>
</form>