html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
/* 
nav {
  background-image: linear-gradient(
    rgba(112.520718,44.062154,249.437846, 1),
    rgba(112.520718,44.062154,249.437846, 0.95));
} */

body {
  margin-bottom: 60px;
}