@using Library.Models.Entities
@using Library.Models.DTO
@model Library.Models.DTO.ProductDto

@{
    ViewData["Title"] = "Додати фільм";
}

<h2>Додати фільм</h2>

<form asp-action="AddMovie">
    <div class="form-group">
        <label asp-for="Title" class="control-label">Заголовок</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Disc.Format" class="control-label">Формат</label>
            <select asp-for="Disc.Format" class="form-control">
                @foreach (var format in Enum.GetValues(typeof(DiscFormat)))
                {
                    <option value="@format">@format</option>
                }
            </select>
        <span asp-validation-for="Disc.Format" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Disc.Year" class="control-label">Рік</label>
        <input asp-for="Disc.Year" class="form-control" />
        <span asp-validation-for="Disc.Year" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Disc.Movie.Director" class="control-label">Режисер</label>
        <input asp-for="Disc.Movie.Director" class="form-control" />
        <span asp-validation-for="Disc.Movie.Director" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Disc.Movie.Duration" class="control-label">Тривалість</label>
        <input asp-for="Disc.Movie.Duration" class="form-control" />
        <span asp-validation-for="Disc.Movie.Duration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Disc.Movie.Genre" class="control-label">Жанри</label>
        <input asp-for="Disc.Movie.Genre" class="form-control" placeholder="Жанр1, Жанр2" />
        <span asp-validation-for="Disc.Movie.Genre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Disc.Movie.Actors" class="control-label">Список акторів</label>        
        <input asp-for="Disc.Movie.Actors" class="form-control" placeholder="Актор1, Актор2" />
        <span asp-validation-for="Disc.Movie.Actors" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Додати" class="btn btn-primary" />
    </div>
</form>